/* slider section start */
.s-con{
    position: relative;
    top: calc(100vh/8);
    height: 500px;
    /* border: 1px solid; */
  
    
  /* background-color:greenyellow; */
  }
  .carousel-item{
    padding: 2rem 9%;
  }
  .slide{
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40px;
    display: flex;
    text-transform: uppercase;
  }
  .carousel-inner{
    padding: 0;
    position: relative;
  }
  .slide .content{
    animation: slideContent .3s linear .5s backwards;
  } 
  @keyframes slideContent{
    0%{
        opacity: 0;
        transform: translatey(-10rem);
    }
  }
  .image img{
  float: right;
  position: relative;
  /* transition: all .5s linear  ; */
  animation: size 1s ease-in infinite
  alternate ;
  
  
  }
  /* .image img:hover{
  height: 200px;
  transform: translateY(90deg);
  } */
  @keyframes size {
  from{
    /* transform:rotate3d(0); */
    height: 20px;
  } to{
    /* transform: rotate3d(0,1,0,60deg); */
    height: 200px;
    
  }
  }
  
  .slide .content h3{
    font-size: 40px;
    color: #3120E0;
  }
  .slide .content p{
    font-size: 18px;
    color: #666;
    padding: .5rem 0;
    text-transform: capitalize;
  }
  
  /*  slider section end*/
  /* histor strat */
  .f-con{
    /* height: 400px; */
    /* background-color: #666; */
  }
  
   .p_img{
    border: 3px solid #3120E0;
    border: double 7px transparent;
    background-image: url("images/profile/p1.jpg"),linear-gradient(#3120E0,#0096FF),
    linear-gradient(90deg,#3120E0,#0096FF);
    background-position: center;
    background-size: cover;
    background-origin: border-box;
   background-clip: content-box,border-box;
    height: 250px;
    max-width:220px;
   border-radius: 50% 50% !important;
   box-shadow: 2px 4px 5px 4px gray;
  
   }  
  .p-ftr{
    margin-top: calc(100% - 250px - 2px );
  
  }
  .p-ftr h3{
    color: #3120E0;
  }
  .p-ftr p{
    color: gray;
    font-size: 1em;
    font-style: oblique;
    font-weight: bold;
  }
  .h-para{
    box-shadow: 3px 3px 3px 2px gray;
  }
  h1{
    color: #3120E0;
    font-size: 3em;
  }
  span{
    color: grey;
    font-weight: bold;
    font-size: 1em;
  }
  /* history end */
  /* achevemnet start */
  .ac-sec{
    /* height: 400px; */
    /* background-color: gray; */
    
   }
   .covid-card{
    /* height: 200px;
    max-width: 200px; */
    border: 4px solid #3120E0;
    border-radius: 3px;
  border: double 5px transparent;
    /* background-color: linear-gradient(60deg,#3B9AE1,#00D7FF); */
    background-image: linear-gradient(120deg,#3120E0,#00D7FF),
    linear-gradient(60deg,#3120E0,#0096FF);
    background-color: linear-gradient();
    background-origin: padding-box;
   background-clip: border-box;
  transition:  .3s linear;
  overflow: hidden;
   }
  .cover .covid-card img{
  
    transition: .3s ease-in-out;
    transform: scale(1.3);
  }
  .cover .covid-card:hover img{
    transform: scale(1);
    cursor: pointer;
    
  }
  .cover .covid-card:hover{
    box-shadow: 2px 2px 6px 6px gray;
  }
  .text2{
    color: gray;
    font-size: 1.5em;
    font-weight: bolder;
    padding-bottom: 2%;
  }
  /* achevemnet end */
  /*mq history start */
  @media screen and (min-width:600px) and (max-width:950px)  {
    .p_img{
     margin-top:calc(100%/2);
    }
    .p-ftr h3{
      margin-top:calc(100%/1.5);
    }
  }
  /*mq history end */
  @media screen and (min-width:200px) and (max-width:600px){
    .image{
      display: none;
    }
  }